*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    --color--boton:white;
    /*::first-line ::first-letter*/
    /*::before ::after*/
    /*gap*/
}
body{
    background-color: black;
}
header{
    background-color: #141313;
}
.header{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.logo{
    text-align: left;
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding: 10px;
}
.logo__avatar{
    border-radius: 100%;
    width: 80px;
}
.logo__texto{
    color: var(--color--boton);
    font-size: 30px;
    padding: 30px;
}
.menu{
    margin-top: 45px;
}
.opciones{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
}
.menu__opcion{
    text-decoration: none;
    box-sizing: border-box;
    color: var(--color--boton);
    font-size: 15px;
    top: 20%;
    border-radius: 50px;
    background-color: #8A8E9C;
    padding: 10px;
    margin-right: 40px;
}
.menu__opcion:hover{
    background-color: #52A335;
}
.titulo{
    text-align: left;
}
.titulo__principal{
    color: white;
}
.titulo__secundario{
    color: white;
}
.img{
    text-align: right;
}
.img__principal{
    position: relative;
    z-index: 1;    
    border-radius: 10%;
    width: 300px;
    height: 500px;
}
.img__principa2{
    position: relative;
    z-index: 4;    
    border-radius: 10%;
    width: 300px;
    height: 500px;
}
.img__principa3{
    position: relative;
    z-index: 8;    
    border-radius: 10%;
    width: 300px;
    height: 500px;
}
.texto__descarga{
    text-align: left;
    color: var(--color--boton);
}
.descarga{
    text-align: right;
}
.descarga__opciones{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: var(--color--boton);
}
.descarga__opciones:hover{
    color: aquamarine;
    background-color: aquamarine;
}
.pregunta{
    color: white;
}
.respuesta{
    color: white;
}
.resumen{
    text-align: center;
}
.resumenes{
    text-align: left;
}
.preguntas{
    text-align: center;
}
.preguntas__juego{
    text-align: left;
}
.consejo{
    text-align: center;
}
.consejos{
    text-align: left;
}
.contactenos{
    text-decoration: none;
    list-style: none;
    color: var(--color--boton);
}
footer{
    background-color: #141313;
}
.final{
    text-align: left;
}
.texto__sigueme{
    color: var(--color--boton);
}
.personal{
    text-align: right;
}
.personal__opciones{
    display: inline-block;
    color: var(--color--boton);
    list-style: none;
    text-decoration: none;
}
.personal__opciones:hover{
    color: blue;
    background-color: blue;
}
