*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
:root{
    --color--boton:white;
    /*::first-line ::first-letter*/
    /*::before ::after*/
}
body{
    background-color: black;
}
header{
    background-color: #141313;
}
.logo{
    text-align: left;
    display: flex;
}
.logo__avatar{
    width: 50px;
    height: auto;
}
.logo__texto{
    color: var(--color--boton);
}
.menu{
    text-align: right;
}
.opciones{

}
.menu__opcion::after{
    content: "☺";
}
.menu__opcion{
    text-decoration: none;
    list-style: none;
    color: var(--color--boton);
}
.menu__opcion:hover{
    color: blueviolet;
    background-color: blueviolet;
}
section{

}
.titulo{
    text-align: left;
}
.titulo__principal{
    color: white;
}
.titulo__secundario{
    color: white;
}
.img{
    text-align: right;
}
.img__principal{

}
.texto__descarga{
    text-align: left;
    color: var(--color--boton);
}
.descarga{
    text-align: right;
}
.descarga__opciones{
    list-style: none;
    text-decoration: none;
    color: var(--color--boton);
}
.descarga__opciones:hover{
    color: aquamarine;
    background-color: aquamarine;
}
.pregunta{
    color: white;
}
.respuesta{
    color: white;
}
.resumen{
    text-align: center;
}
.resumenes{
    text-align: left;
}
.preguntas{
    text-align: center;
}
.preguntas__juego{
    text-align: left;
}
.consejo{
    text-align: center;
}
.consejos{
    text-align: left;
}
.contactenos{
    text-decoration: none;
    list-style: none;
    color: var(--color--boton);
}
footer{
    background-color: #141313;
}
.final{
    text-align: left;
}
.texto__sigueme{
    color: var(--color--boton);
}
.personal{
    text-align: right;
}
.personal__opciones{
    color: var(--color--boton);
    list-style: none;
    text-decoration: none;
}
.personal__opciones:hover{
    color: blue;
    background-color: blue;
}
